<p class="header-helper">TYPING SPEED TEST</p>
<h1 class="header">Test your typing skills</h1>

<div class="stats-container">
    <div class="stats" id="seconds">
        <p>{{timeRemaining}}</p>
        <span>seconds</span>
    </div>
    <div class="stats" id="wordsPerMin">
        <p>{{wordsTyped}}</p>
        <span>words/min</span>
    </div>
    <div class="stats" id="charsPerMin">
        <p>{{charsPerMin}}</p>
        <span>chars/min</span>

    </div>
    <div class="stats" id="accuracy">
        <p>0</p>
        <span>% accuracy</span>

    </div>
</div>


<div class="input-container" tabindex="1" (keydown)="onKeydown($event)" #inputContainer>
    <div class="start-indicator" #startIndicator>Start Typing</div>
    <div class="cursor"></div>

    <div class="words-typed" #wordsTypedContainer>

        <p id="bad" #wordTypedParagraph>{{typedWord}}</p>

    </div>

    <div class="new-words">


        <div class="word" id="word" #wordContainer>
            <p>{{word}}</p>
        </div>
    </div>

</div>


<div class="modal" #modal>

    <div class="modal-body" #modalBody>
        <h1>Hello world</h1>


    </div>
</div>
