<p class="header-helper">TYPING SPEED TEST</p>
<h1 class="header">Test your typing skills</h1>

<div class="stats-container">
    <div class="stats" id="seconds">
        <p>60</p>
        <span>seconds</span>
    </div>
    <div class="stats" id="wordsPerMin">
        <p>0</p>
        <span>words/min</span>
    </div>
    <div class="stats" id="charsPerMin">
        <p>0</p>
        <span>chars/min</span>

    </div>
    <div class="stats" id="accuracy">
        <p>0</p>
        <span>% accuracy</span>

    </div>
</div>


<div class="input-container">
    <div class="start-indicator ">Start Typing</div>
    <div class="cursor"></div>
</div>
